# Public Application URL
VITE_PUBLIC_APP_URL=https://stack-md.online

# Auth0 Configuration
VITE_AUTH0_DOMAIN=dev-q17s3o8mib1dgwhd.us.auth0.com
VITE_AUTH0_CLIENT_ID=zvFH3CSBnuruw9DBcNgslKaQkhlBtdAO
VITE_AUTH0_AUDIENCE=urn:stack:api

# STACK Backend HTTP API (AWS API Gateway)
VITE_API_BASE_URL=https://j8nhllngu9.execute-api.ap-southeast-1.amazonaws.com
