# Raw project assets
/assets/*

# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/
.pnpm-store/

# Builds
build/
dist/
.react-router/

# Vercel local metadata
.vercel/

# Misc
.DS_Store
*.log
